body {
    margin: 0%;
    padding: 0%;
    font-family: 'Podo Moro', sans-serif;
    background-image: url("../images/Facebook\ Messenger.jpg");
}

.h2 {
  color: rgb(0, 0, 0);
  font-size: 1.4rem;
  font-weight: 800;
}

.h3 {
  color: rgb(0, 0, 0);
  font-size: 2.4rem;
  text-align: center;
  font-weight: 800;
  font-family: 'Marmelad', sans-serif;
}

.h4 {
  color: rgb(255, 255, 255);
  font-size: 1.8rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  animation: shadow 4s alternate infinite;
}

@keyframes shadow {
  0% {text-shadow: black 0 0 10px;}
  20% {text-shadow: rgb(255, 255, 255) 0 0 10px;}
  40% {text-shadow: rgb(255, 0, 0) 0 0 10px;}
  60% {text-shadow: rgb(51, 0, 255) 0 0 10px;}
  80% {text-shadow: rgb(0, 242, 255) 0 0 10px;}
  100% {text-shadow: rgb(0, 255, 21) 0 0 10px;}
}

span{
    color:red;
}

.wrapper {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3rem;
    background-image: url("../images/doctor-animated-132740-2519962.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 2rem;
    box-shadow: rgb(38, 57, 77) 30px 30px 30px 0px;
}

@import url('https://fonts.cdnfonts.com/css/podo-moro');
@import url('https://fonts.cdnfonts.com/css/marmelad');

                

input{
    outline: none;
    border-radius: 2rem;
    padding: .5rem;
    color: rgb(0, 0, 0);
    font-family: 'Podo Moro', sans-serif;
    font-size: 1rem;
    font-weight: 900;
}

button {
  background: transparent;
  position: relative;
  padding: 0.6rem;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border: .08rem solid rgb(0, 55, 255);
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: rgb(0, 0, 0);
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
}

button span {
  margin: 10px;
}

button::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

button:hover {
  color: #1e00ff;
  border: 1px solid rgb(0, 0, 0);
}

button:hover::before {
  box-shadow: inset 0 0 0 10em rgb(0, 0, 0);
}