body {
    margin: 0%;
    padding: 0%;
    font-family: 'Podo Moro', sans-serif;
    background-color: skyblue;
}

.h2 {
  color: rgb(0, 0, 0);
  font-size: 1.4rem;
  font-weight: 800;
}

.h3 {
  color: rgb(0, 0, 0);
  font-size: 2.4rem;
  text-align: center;
  font-weight: 800;
}

.h4 {
  color: rgb(255, 255, 255);
  font-size: 1.8rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  animation: shadow 4s alternate infinite;
}

@keyframes shadow {
  0% {text-shadow: black 0 0 10px;}
  20% {text-shadow: rgb(255, 255, 255) 0 0 10px;}
  40% {text-shadow: rgb(255, 0, 0) 0 0 10px;}
  60% {text-shadow: rgb(51, 0, 255) 0 0 10px;}
  80% {text-shadow: rgb(0, 242, 255) 0 0 10px;}
  100% {text-shadow: rgb(0, 255, 21) 0 0 10px;}
}

span{
    color:red;
}

.wrapper {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3rem;
    background-image: url("../images/doctor-animated-132740-2519962.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 2rem;
    box-shadow: rgb(38, 57, 77) 30px 30px 30px 0px;
}

@import url('https://fonts.cdnfonts.com/css/podo-moro');

input{
    outline: none;
    border: none;
    padding: .5rem;
    color: rgb(0, 0, 0);
    font-family: 'Podo Moro', sans-serif;
    font-size: 1rem;
}

button{
    padding: .5rem;
    border-radius: .25rem solid rgb(0, 115, 255);
    background-color: rgb(0, 119, 255);
    display: block;
    margin-top: 10%;
    cursor: pointer;
    transition: 0.5s;
    color: rgb(0, 0, 0);
    font-weight: 800;
    font-family: 'Podo Moro', sans-serif;
    font-size: 1.4rem;
}

button:hover {
    animation: a 0.5s 1 linear;
  }
  
  @keyframes a {
    0% {
      transform: scale(0.7, 1.3);
    }
  
    25% {
      transform: scale(1.3, 0.7);
    }
  
    50% {
      transform: scale(0.7, 1.3);
    }
  
    75% {
      transform: scale(1.3, 0.7);
    }
  
    100% {
      transform: scale(1, 1);
    }
  }

